---
import type { Chat, Message } from "@/model/chat;
import type { IntentInstance } from "@/model/model";
import {
  Card,
  CardContent
} from "@design/ui/card";

export type Props = {
  instance: IntentInstance;
};

const { instance } = Astro.props;

const prompts = instance.chats.map((draft: Chat) =>
  draft.promptIterations.forEach((iteration) =>
    iteration.messages.filter((messages: Message) => messages.type === "user"),
  ),
);
---

<Card>
  <!-- <CardHeader>
      <CardTitle>Card Title</CardTitl>
      <CardDescription>Card Description</CardDescription>
    </CardHeader> -->
  <CardContent className="py-3 px-6">
    <ol class="flex flex-row justify-around">
      <li class="flex flex-col gap-1 justify-center place-items-center">
        <p class="font-semibold">Chats</p>
        <p class="">{instance.chats.length}</p>
      </li>
      <li class="flex flex-col gap-1 justify-center place-items-center">
        <p class="font-semibold">Prompts</p>
        <p class="">{prompts.length}</p>
      </li>
      <!-- <li class="flex flex-col gap-1 justify-center place-items-center">
        <p class="font-semibold">Drafts</p>
        <p class="">{instance.chats.length}</p>
      </li> -->
    </ol>
  </CardContent>
  <!-- <CardFooter>
      <p>Card Footer</p>
    </CardFooter> -->
</Card>
