---
import CreateModel from '@/components/ui/mainPage/CreateModel.astro';
import Layout from '../layouts/Layout.astro';
import CreateInstance from '@/components/ui/mainPage/CreateInstance.astro';


---

<Layout title="Home">
	<main>

		<CreateInstance />

		<CreateModel />
		
	</main>
</Layout>
