---

---

<!-- bg-slate-600 -->
<header
    class="bg-opacity-45 rounded-xl
px-3 py-5 sm:mt-4 mb-10 mx-auto
max-w-lg gap-10 flex flex-row items-center
    bg-accent text-accent-foreground border"
>
    <a href="/" class="flex flex-row items-center gap-4">
        <img class="size-20" src="/assets/images/new_logo.webp" alt="Logo" />
        <span
            class="hidden sm:block md:ms-2
        lg:text-2xl sm:text-xl font-bold"
        >
            Hermes Analyzer
        </span>
    </a>

    <nav class="ms-auto me-12 flex flex-row gap-2">
        <!-- <a
            href="https://builtbybit.com/creators/loopbreak.57501/"
            class="nav-link
            min-w-fit
            font-semibold hover:font-bold
            hover:text-slate-100 hover:shadow-md hover:shadow-slate-600
            rounded-md
            hover:bg-gradient-to-br bg-opacity-30 
            hover:from-slate-700 hover:to-transparent">Home</a
        > -->
    </nav>
</header>
