---
interface AstroProps {
    class?: string;
}
---

<section
    class={`max-w-xl mx-auto justify-center
	bg-slate-800 bg-opacity-50 rounded-xl
    shadow-stone-300/30
      shadow-[0_15px_40px_-15px]
    px-10 py-3  ${Astro.props.class}`}
    {...Astro.props}
>
    <slot />
</section>
