---
import DraftList from "@/components/ui/DraftList.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import { ViewTransitions } from "astro:transitions";
import { getPlaceholders } from "@/utils/placeholder";

interface Props {
	title: string;
	forceTitle?: boolean;
}

const { title, forceTitle = false } = Astro.props;

const finalTitle = forceTitle ? title : `Model eval Assistant - ${title}`;

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Main page" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link
			href="https://fonts.googleapis.com/css?family=Catamaran"
			rel="stylesheet"
		/>
		<title>{finalTitle}</title>
		<ViewTransitions />
	</head>
	<body class="font-catamaran">
		<div class="fixed left-0 top-0 -z-10 h-full w-full">
			<div class="relative h-full w-full bg-slate-950">
				<div
					class="absolute bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px] [mask-image:radial-gradient(ellipse_60%_50%_at_50%_0%,#000_70%,transparent_100%)]"
				>
				</div>
			</div>
		</div>

		<main class={`flex flex-row`}>
			<DraftList />

			<section class="mx-auto w-[60dvw] max-w-[700px]">
				<Header />

				<slot />
			</section>
		</main>

		<Footer />

		<style is:global>
			* {
				color-scheme: light dark;
			}
		</style>
	</body>
</html>
