---
import "@/styles/globals.css";
import DraftList from "@/components/ui/InstanceList.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import { ViewTransitions } from "astro:transitions";
import { Toaster } from "@/components/shadcdn/ui/toaster";

interface Props {
	title: string;
	forceTitle?: boolean;
}

const { title, forceTitle = false } = Astro.props;

const finalTitle = forceTitle ? title : `Model eval Assistant - ${title}`;
---

<!doctype html>
<html lang="en" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Main page" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.webp" />
		<meta name="generator" content={Astro.generator} />
		<link
			href="https://fonts.googleapis.com/css?family=Catamaran"
			rel="stylesheet"
		/>
		<title>{finalTitle}</title>
		<ViewTransitions />
	</head>
	<body class="dark font-catamaran
	 bg-background antialiased">

		<main class={`flex flex-row bg-background`}>
			<DraftList />

			<section class="mx-auto w-[60dvw] max-w-[700px]">
				<Header />

				<slot />
			</section>
		</main>

		<Footer />

		<Toaster client:visible />
		<style is:global>
			* {
				color-scheme: dark;
			}
		</style>
	</body>
</html>
