---
import { getAvailableLLms } from "@/utils/phase";
import { CreateDraftForm } from "./CreateDraftForm";

const llms = getAvailableLLms();
---

<section class="bg-slate-700 bg-opacity-70 rounded-lg">
    <CreateDraftForm client:visible />
</section>
