---
import { getAvailableLLms } from "@/utils/phase";
import { CreateDraftForm } from "@/components/ui/form/CreateDraftForm";

const llms = getAvailableLLms();
---

<!-- bg-slate-700 -->
<section
    class="antialiased bg-card text-card-foreground border
 bg-opacity-70 rounded-lg items-center mx-auto"
>
    <CreateDraftForm client:visible />
</section>
