---
---



<section class="bg-slate-700 bg-opacity-70 rounded-lg">
    <form 
    action="/api/drafts/"
    method="post" class="p-5 m-10 flex flex-col gap-3">
        <input class="mx-auto p-1" type="text" name="title" placeholder="Nombre" class="" required minlength="4" />
        <input class="bg-lime-600 hover:bg-lime-700 bg-opacity-60 mx-auto p-2 rounded-xl" type="submit" value="Crear" />
    </form>
</section>