---
import { getAvailableLLms } from "@/utils/phase";

const llms = getAvailableLLms();
---

<section class="bg-slate-700 bg-opacity-70 rounded-lg">
    <form
        action="/api/drafts/"
        method="post"
        class="p-5 m-10 mx-auto flex flex-col gap-3"
    >
        <input
            class="mx-auto p-1"
            type="text"
            name="title"
            placeholder="Nombre"
            class=""
            required
            minlength="4"
        />
        <div class="mx-auto">
            <label for="llm" class="text-left mr-5">LLM</label>
            <select name="llm" class="p-1">
                {llms.map((llm) => <option value={llm}>{llm}</option>)}
            </select>
        </div>
        <input
            class="bg-lime-600 hover:bg-lime-700 bg-opacity-60 mx-auto p-2 rounded-xl"
            type="submit"
            value="Crear"
        />
    </form>
</section>
