---
import {type RequestError } from "@/model/request";
import type { DraftGroup } from "@/model/draft";
import DraftGroupList from "./DraftGroupList.astro"
import { desc } from "astro:db";
import { db, Draft, Interaction } from "astro:db";
import { getAvailableLLms } from "@/utils/phase";
import {getModels, getInstancesFromModel} from "@/services/intentService"
import type { IntentModel } from "@/model/model";

const intentModels = await getModels()

console.log(intentModels)

// check if intentModels is part of RequestError interface
if ((intentModels as RequestError).status !== undefined) {
    console.error(intentModels as RequestError);
    return;
}

const intents = intentModels as IntentModel[]

console.log("intents",intents[0])

---

<aside
    class="bg-slate-800 bg-opacity-70 rounded-r-3xl
pr-2 py-3
flex flex-col h-dvh fixed"
>
    <div class="flex flex-row">
        <h2 id="draft-title" class="font-bold text-lg ml-8">Drafts</h2>

        <button id="toggle" class="text-md font-bold mx-2"> X </button>
    </div>
    <ul id="list" class="m-3 max-h-dvh overflow-x-auto overflow-y-hidden">
        {
            intents.map((intent,_)=> {
                return <DraftGroupList llm={intent.displayName} />
            })
        }
    </ul>
</aside>

<script>
    function init() {
        const $toggle = document.getElementById("toggle");
        const $aside = document.getElementById("list");
        const $title = document.getElementById("draft-title");

        if (!$toggle || !$aside || !$title) {
            return;
        }

        $toggle.addEventListener("click", () => {
            $aside.classList.toggle("hidden");
            $title.classList.toggle("hidden");
        });
    }
    init();

    document.addEventListener("astro:after-swap", init);
</script>
