---
import type { DraftGroup } from "@/model/draft";
import DraftGroupList from "./DraftGroupList.astro"
import { desc } from "astro:db";
import { db, Draft, Interaction } from "astro:db";
import { getAvailableLLms } from "@/utils/phase";

const drafts = await db.select().from(Draft).orderBy(desc(Draft.lastDate));

const draftsGroup : Record<string, DraftGroup[]> = {};

getAvailableLLms().forEach((llm) => {
    draftsGroup[llm] = [];
});


drafts.forEach((draft) => {
    draftsGroup[draft.llm].push(draft);
});

---

<aside
    class="bg-slate-800 bg-opacity-70 rounded-r-3xl
pr-2 py-3
flex flex-col h-dvh"
>
    <div class="flex flex-row">
        <h2 class="font-bold text-lg ml-8">Drafts</h2>

        <button id="toggle" class="text-md font-bold mx-2"> X </button>
    </div>
    <ul id="list" class="m-3 max-h-dvh overflow-x-auto overflow-y-hidden">
        {
            Object.entries(draftsGroup).map((object) => {
                const [llm, drafts] = object;
                return <DraftGroupList llm={llm} drafts={drafts} />
            })
        }
    </ul>
</aside>

<script>
    function init() {
        const $toggle = document.getElementById("toggle");
        const $aside = document.getElementById("list");

        if (!$toggle || !$aside) {
            return;
        }

        $toggle.addEventListener("click", () => {
            $aside.classList.toggle("hidden");
        });
    }
    init();

    document.addEventListener("astro:after-swap", init);
</script>
